<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="employee-form">

        <div class="flex-container">
            <div class="column form-group">
                <label>First Name</label>
                <input type="text" class="form-control" ng-model="newEmployee.firstName" />
            </div>

            <div class="column form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="newEmployee.lastName" />
            </div>
        </div>

        <div class="flex-container">
            <div class="column">
                <label>Date of Birth</label>
                <input type="date" class="form-control" ng-model="newEmployee.dob" />
            </div>

            <div class="column form-group">
                <label>Gender</label><br />
                Male <input type="radio" value="0" class="form-control" ng-model="newEmployee.gender">
                Female <input type="radio" value="1" class="form-control" ng-model="newEmployee.gender">
            </div>
        </div>

        <div class="column form-group">
            <label>Qualification</label><br />
            <select ng-model="newEmployee.qualificationId" ng-options="qualification.qualificationName for qualification in qualifications" class="form-control"></select>
        </div>

        @*<div class="column form-group">
                <label>Qualification</label><br />
                <select ng-model="newEmployee.departmentId" ng-options="qualification.qualificationName for qualification in qualifications" class="form-control"></select>
            </div>*@

        <div class="form-group">
            <label>Date of Joining</label>
            <input type="date" class="form-control" ng-model="newEmployee.doj" />
        </div>

        <div class="column form-group">
            <label>Reporting Manager</label>
            <select ng-model="newEmployee.managerId" ng-options="employee.eFirstName+' '+employee.eLastName for employee in employees" class="form-control"></select>
        </div>




    </form>

    {{newEmployee.firstName}}, {{newEmployee.lastName}}, {{newEmployee.dob}}, {{newEmployee.gender}}, {{newEmployee.qualificationId}}
    {{newEmployee.doj}}, {{newEmployee.managerId}}
</div>
