<div id="searchBox">
    <input  class="form-control" ng-model="searchQuery" placeholder="Search Grid"/>
</div>

<table class="table">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Employee Name</th>
            <th>Manager Name</th>
            <th>Data of Joining</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employees | filter:searchQuery">
            <td>{{$index+1}}</td>
            <td>{{employee.FirstName + ' ' + employee.LastName}}</td>
            <td>{{employee.ManagerFirstName + ' ' + employee.ManagerLastName}}</td>
            <td>{{employee.Doj | date:'longDate'}}</td>
            <td>{{employee.DepartmentName}}</td>
            <td>{{employee.DesignationName}}</td>
            <td>
                <a onmouseover="this.style.cursor='pointer'" ng-click="fillForm(employee)">Edit</a> |
                <a onmouseover="this.style.cursor='pointer'" ng-click="deleteEmployee(employee.EmployeeId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
